{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="jumbotron" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <h1>It works!</h1>
      <p></p>
    </div>
  </div>
</header>

<p>
	The host is: {{raw .host}}
</p>

<p>
	<img src="http://{{raw .host}}/public/img/ninja.png" alt="ninja" />
	img src={{raw .host}} /public/img/ninja.png alt="ninja" />
</p>
	p class="{{raw .host}}">ninja</p>

<p>
	The random number is: {{.randomNumber}}
</p>

<p>
	<a href="https://portswigger.net/blog/practical-web-cache-poisoning">Burp blog post</a>
</p>

{{template "footer.html" .}}
